{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <!--    Сюда надо вставить фильтр для отображения конкретной страницы-->
    <title> {{ unit }}</title>
</head>


<body text="teal" bgcolor="silver">

{% block content %}
{% endblock %}


<img src="{% static 'green.gif' %}" alt="green.gif" border="0">

<hr>
<h3 align="left">Main menu</h3>
<ul class="menu" type="circle">
    <li><a href="{% url 'mainpage:index' %}">Main</a></li>
    <li><a href="{% url 'ordercost:index' %}">Order Cost</a></li>
</ul>
<hr>


</body>
</html>