<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>talpo.ru</title>
</head>
<body>

{% block main_menu %}

<ul class="menu">
    <li><a href="{% url 'mainpage:index' %}">ГЛАВНАЯ</a></li>
    <li><a href="{% url 'ordercost:index' %}">Приложение расчета себестоимости продукции</a></li>
    <li><a href="#">ссылка</a></li>
    <li><a href="#">ссылка</a></li>
    <li><a href="#">ссылка</a></li>
    <li><a href="#">ссылка</a></li>
    <li><a href="#">ссылка</a></li>
</ul>

{% endblock %}

{% block content %}
{% endblock %}


</body>
</html>