{% include 'base.html' %}

{% block content %}
<br>
<h1> Offset </h1>
<pre>Форма для ввода значений для из обработки</pre>

<form action="{% url 'ordercost:offset' %}" method="get">
<!--    {% csrf_token %}-->
    {{ form.as_p }}
    <button type="submit"> ok </button>
    <button type="submit" value="reset" name="reset"> new calc </button>
</form>



{% if result %}
    <h2>Результат вычисления</h2>
<!--    результат вычисления из context['result]-->
    {{ result }}
{% endif %}

{% endblock %}