{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{% static '/style.css'">
<br>
<h3 class="app"> Offset </h3>
<pre>Форма для ввода значений для из обработки</pre>

<form action="{% url 'ordercost:offset' %}" method="get">
<!--    {% csrf_token %}-->
    {{ form.as_p }}
    <input type="submit">
    <input type="submit" value="reset" name="reset">
</form>

<input type="text" value="test">


{% if result %}
    <h2>Результат вычисления</h2>
<!--    результат вычисления из context['result]-->
    {{ result }}
{% endif %}

{% endblock %}